*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    font-family: "Open Sans", sans-serif;
}
/* common button */
.btn{
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: 1px solid #FD6E0A;
}
/*header styles*/
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right bottom;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
    
}
nav ul{
    display: flex;
    align-items: center;
}
.mary{
    font-size: 45px;
}
.span{
    color: #FD6E0A;
}
ul li{
    list-style-type: none;
    margin-left: 70px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474744;
}
.button{
    background-color: white;
    color: #FD6E0A;
   
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.text{
   margin-left: 120px;

}
.text h1{
    font-size: 40px;
    font-weight: 300;
}
.text h2{
    font-size: 85px;
    font-weight: bold;
}
.text p{
    margin: 10px 0;
}
.image{
    height: 550px;
    width: 500px;
    margin-right: 50px;
}
