*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    font-family: "Open Sans", sans-serif;
}
/* common button */
.btn{
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: 1px solid #FD6E0A;
}
/*header styles*/
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right bottom;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;   
}
nav ul{
    display: flex;
    align-items: center;
}
.mary{
    font-size: 45px;
}
.span{
    color: #FD6E0A;
}
ul li{
    list-style-type: none;
    margin-left: 70px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474744;
}
.button{
    background-color: white;
    color: #FD6E0A; 
}
button:hover{
    background-color: #FD6E0A;
    color: white;
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.text{
   margin-left: 120px;
}
.text h1{
    font-size: 40px;
    font-weight: 300;
}
.text h2{
    font-size: 85px;
    font-weight: bold;
}
.text p{
    margin: 10px 0;
}
.image{
    height: 550px;
    width: 500px;
    margin-right: 50px;
}
/* about css style */
.about-me{
   width: 1140px;
   height: 550px;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 30px;
   background-color: #FFF8F3;
   position: relative;  
}
.everything-main{
    border: 1px solid black;
    max-height: 288px;
    width: 827px;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 15%;
    background-color: #FFFFFF;    
}
.text{
    text-align: center;
    margin-right: 100px;
}
.info{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;   
}
/* tools section style */
.description-2{
    text-align: center;
    margin-bottom: 35px;
}
.headline{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}
.des{
    font-size: 18px;
    font-weight: regular;
    line-height: 30px;
    padding: 0 80px;

}
.section-2{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.tools{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.tool-1{
    border: 2px solid white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.tool-1 img, h3, p{
    margin: 10px 20px;
}
.tool-1 p{
    padding: 20px 0;
    font-size: 16px;
    line-height: 28px;
    font-weight: regular;  
}